/bin/AndroidManifest.xml
/bin/classes/.gitignore
/gen/com/kfodor/MySensors/BuildConfig.java
/gen/com/kfodor/MySensors/R.java
/bin/MySensors.apk
/bin/classes.dex
/bin/dexedLibs/android-support-v4-fc74a436bb29635c4cb892ecbfcd9524.jar
/bin/res/crunch/drawable-nodpi/accelerometer_sensor.png
/bin/res/crunch/drawable-nodpi/gravity_sensor.png
/bin/res/crunch/drawable-nodpi/gyroscope_sensor.png
/bin/res/crunch/drawable-nodpi/light_sensor.png
/bin/res/crunch/drawable-nodpi/linear_acceleration_sensor.png
/bin/res/crunch/drawable-nodpi/magnetic_sensor.png
/bin/res/crunch/drawable-nodpi/my_sensors_title.png
/bin/res/crunch/drawable-nodpi/orientation_sensor.png
/bin/res/crunch/drawable-nodpi/pressure_sensor.png
/bin/res/crunch/drawable-nodpi/proximity_sensor.png
/bin/res/crunch/drawable-nodpi/relative_humidity_sensor.png
/bin/res/crunch/drawable-nodpi/rotation_vector_sensor.png
/bin/res/crunch/drawable-nodpi/temp_sensor.png
/bin/res/crunch/drawable-nodpi/title_icon.png
/bin/res/crunch/drawable-nodpi/unknown_sensor.png
/bin/resources.ap_
