<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kfodor.MySensors"
    android:versionCode="6"
    android:versionName="@string/app_version" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="23" >
    </uses-sdk>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:description="@string/app_about_text"
        android:icon="@drawable/title_icon"
        android:label="@string/app_name">
        <activity
            android:name=".MySensors"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SensorView"
            class=".SensorView"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>